*{
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    font-size: 3vh;
}
header{
    position: relative;
    left: 10vh;
    position: sticky;
    top: 1vh;
    /* background-color: black; */
    /* color: white; */
    height: 10vh;
}
body{
    height: 5643vh;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    height: 7vh;
}
.courses{
    text-align: center;
}
